<!DOCTYPE html>
<html lang="en">
    <%-include("partials/header.ejs", {title:"Portfolio"}) %>
    <div id="content" class="flex">
        <div id="coinContent" class="w-[70%] bg-gradient-to-b from-[#FCF8BD] to-[#FFF89A] pt-[40px] pl-[15%]">
            <div id="coinHeader" class="flex">
                <div class="border-2 border-r-zinc-300 border-transparent pr-[15px] w-[40%]">
                    <div id="name" class="flex items-end">
                        <% if (isfavourite) { %>
                            <button id="buttonfavstar" onclick="deletefav('<%=favourite_id%>', true)"><img id="favstar" src="/img/fullstar.png" class="max-w-[40px] max-h-[40px]"></button>
                        <% } else { %>
                            <button id="buttonfavstar" onclick="addfav('<%=coin.coin_id%>')"><img id="favstar" src="/img/emptystar.png" class="max-w-[40px] max-h-[40px]"></button>
                        <% } %>
                        <h1 class="font-bold text-4xl"><%= coin.name %></h1>
                        <h2 class="text-2xl ml-[20px] bg-[#FFC900] rounded-full p-[7px] pt-[3px] pb-[3px]">$<%= coin.abbreviation %></h2>
                    </div>
                    <div id="title" class="flex items-end">
                        <h2 class="text-sm self-start ml-[5%]">Price:</h2>
                        <p class="text-2xl ml-[10px]">$<%= coin.price %></p>
                        <% if (coin.percent_change_24h >= 0) { %>
                            <p class="text-lg ml-[15px] p-[3px] pt-[1px] pb-[1px] bg-lime-500 rounded-full">+<%= coin.percent_change_24h %>%</p>
                        <% } else { %>
                            <p class="text-lg ml-[15px] p-[3px] pt-[1px] pb-[1px] bg-red-700 rounded-full">-<%= coin.percent_change_24h %>%</p>
                        <% } %>
                    </div>
                </div>
                <div id="contracts" class="w-[30%] pl-[15px] border-2 border-r-zinc-300 border-transparent">
                    <p class="font-bold">Contracts:</p>
                    <% if (contracts.length != 0) { %>
                        <% contracts.forEach(function(contract){%>
                            <div class="flex">
                                <p class="mr-[5px]"><%= contract.platform%>:</p>
                                <button onclick="copyElementText('contract')" class="mr-[10px]" title="Copy Address"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                                <p><%= contract.token_address.substring(0, 4)%>...<%= contract.token_address.slice(-15)%></p>
                                <p id="contract" hidden><%= contract.token_address %></p>
                            </div>
                        <%}); %>
                    <% } else { %>
                        <p>N/A</p>
                    <% } %>
                </div>
                <div id="social" class="w-[30%] pl-[15px]">
                    <p class="font-bold">Social networks:</p>
                    <% if (socials.length != 0) { %>
                        <% socials.forEach(function(social){%>
                            <div class="flex">
                                <% if (social.type == "website") { %>
                                    <img class="max-w-[20px] max-h-[20px] mr-[8px]" src="/img/social/<%= social.platform%>.png"><a href="<%= social.url%>" target="_blank"><p><%= social.platform%></p></a>
                                <% } else if (social.type == "community") { %>
                                    <img class="max-w-[20px] max-h-[20px] mr-[8px]" src="/img/social/<%= social.platform%>.png"><a href="<%= social.url%>" target="_blank"><p><%= social.platform%></p></a>
                                <% } else if (social.type == "whitepaper") { %>
                                    <img class="max-w-[20px] max-h-[20px] mr-[8px]" src="/img/social/<%= social.type%>.png"><a href="<%= social.url%>" target="_blank"><p><%= social.type%></p></a>
                                <% } %>
                            </div>
                        <%}); %>
                    <% } else { %>
                        <p>N/A</p>
                    <% } %>
                </div>
            </div>
            <div id="chart" class="w-full h-[400px] mt-[20px]">
                <script type="text/javascript">
                    // Initialize the echarts instance based on the prepared dom
                    var myChart = echarts.init(document.getElementById('chart'));
            
                    // Specify the configuration items and data for the chart
                    var option = {
                    title: {
                        text: 'ECharts Getting Started'
                    },
                    tooltip: {},
                    legend: {
                        data: ['sales']
                    },
                    xAxis: {
                        data: ['Shirts', 'Cardigans', 'Chiffons', 'Pants', 'Heels', 'Socks']
                    },
                    yAxis: {},
                    series: [
                        {
                        name: 'sales',
                        type: 'bar',
                        data: [5, 20, 36, 10, 10, 20]
                        }
                    ]
                    };
            
                    // Display the chart using the configuration items and data just specified.
                    myChart.setOption(option);
                </script>
            </div>
            <div id="coinStats" class="flex justify-around">
                <div id="marketCap" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2>Market Cap:</h2>
                    <p><%= coin.marketCap %>$</p>
                </div>
                <div id="volume" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2>Volume:</h2>
                    <p><%= coin.volume %>$</p>
                </div>
                <div id="supply" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2>Supply:</h2>
                    <p><%= coin.supply %> <%= coin.abbreviation %></p>
                </div>
                <div id="dominance" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2>Market Dominance:</h2>
                    <p><%= coin.volume %>%</p>
                </div>
                <div id="change24" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2>Price Change (24h):</h2>
                    <p>$<%= coin.price %></p>
                </div>
            </div>
            <div id="coinDescription" class="mt-[20px]">
                <h2 class="text-xl font-bold">About <%= coin.name %>:</h2>
                <p class="text-base"><%=coin.description%></p>
            </div>
        </div>
        <div id="favourites" class="w-[30%] bg-gradient-to-b from-[#FCF8BD] to-[#FFF89A] pt-[30px] pl-[5%]">
            <h1 class="font-bold text-2xl">Favourite assets:</h1>
                <table class="favourites_table table-auto w-full">
                    <tbody id="favtable">
                        <% favourites.forEach(function(favourite){%>
                            <tr id="fav_<%=favourite.favourites_id%>">
                            <% if (favourite.coin_id == coin.coin_id ) { %>
                                <td class="text-center"><button onclick="deletefav('<%=favourite.favourites_id%>', true)"><img class="max-w-[15px] max-h-[15px]" src="/img/fullstar.png"></button></td>
                            <% } else { %>
                                <td class="text-center"><button onclick="deletefav('<%=favourite.favourites_id%>', false)"><img class="max-w-[15px] max-h-[15px]" src="/img/fullstar.png"></button></td>
                            <% } %>
                                <td><a href="../coin/<%=favourite.abbreviation.toLowerCase()%>"><p><%= favourite.name %> ($<%= favourite.abbreviation%>)</p></a></td>
                            </tr>
                        <%}); %>
                    </tbody>
                </table>
        </div>
    </div>
    </body>
</html>