<!DOCTYPE html>
<html lang="en">
    <%-include("partials/header.ejs", {title: coin.name+'\'s Information', user_id: user_id}) %>
    <div id="content" class="flex">
        <div id="coinContent" class="w-[70%] bg-gradient-to-b from-[#FCF8BD] to-[#FFF89A] pt-[40px] pl-[15%]">
            <div id="coinHeader" class="flex">
                <div class="border-2 border-r-zinc-300 border-transparent pr-[15px] w-[40%]">
                    <div id="name" class="flex items-end">
                        <% if (isfavourite) { %>
                            <button id="buttonfavstar" onclick="deletefav('<%=favourite_id%>', true)"><img id="favstar" src="/img/fullstar.png" class="max-w-[40px] max-h-[40px] mr-[10px]"></button>
                        <% } else { %>
                            <button id="buttonfavstar" onclick="addfav('<%=coin.coin_id%>', '<%=user_id%>')"><img id="favstar" src="/img/emptystar.png" class="max-w-[40px] max-h-[40px] mr-[10px]"></button> 
                        <% } %>
                        <h1 class="font-bold text-4xl"><%= coin.name %></h1>
                        <h2 class="text-2xl ml-[20px] bg-[#FFC900] rounded-full p-[7px] pt-[3px] pb-[3px]">$<%= coin.abbreviation %></h2>
                    </div>
                    <div id="title" class="flex items-end">
                        <h2 class="text-sm self-start ml-[5%]">Price:</h2>
                        <p class="text-2xl ml-[10px]">$<%= coin.price %></p>
                        <% if (coin.percent_change_24h >= 0) { %>
                            <p class="text-lg ml-[15px] p-[3px] pt-[1px] pb-[1px] bg-lime-500 rounded-full">+<%= coin.percent_change_24h.toFixed(2) %>% (24h)</p>
                        <% } else { %>
                            <p class="text-lg ml-[15px] p-[3px] pt-[1px] pb-[1px] bg-red-700 rounded-full"><%= coin.percent_change_24h.toFixed(2) %>% (24h)</p>
                        <% } %>
                    </div>
                </div>
                <div id="contracts" class="w-[30%] pl-[15px] border-2 border-r-zinc-300 border-transparent">
                    <p class="font-bold">Contracts:</p>
                    <% if (contracts.length != 0) { %>
                        <% contracts.forEach(function(contract){%>
                            <div class="flex">
                                <p class="mr-[5px]"><%= contract.platform%>:</p>
                                <button onclick="copyElementText('contract')" class="mr-[10px]" title="Copy Address"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                                <p><%= contract.token_address.substring(0, 4)%>...<%= contract.token_address.slice(-15)%></p>
                                <p id="contract" hidden><%= contract.token_address %></p>
                            </div>
                        <%}); %>
                    <% } else { %>
                        <p>N/A</p>
                    <% } %>
                </div>
                <div id="social" class="w-[30%] pl-[15px]">
                    <p class="font-bold">Social networks:</p>
                    <% if (socials.length != 0) { %>
                        <% socials.forEach(function(social){%>
                            <div class="flex">
                                <% if (social.type == "website") { %>
                                    <img class="max-w-[20px] max-h-[20px] mr-[8px]" src="/img/social/<%= social.platform%>.png"><a href="<%= social.url%>" target="_blank"><p><%= social.platform%></p></a>
                                <% } else if (social.type == "community") { %>
                                    <img class="max-w-[20px] max-h-[20px] mr-[8px]" src="/img/social/<%= social.platform%>.png"><a href="<%= social.url%>" target="_blank"><p><%= social.platform%></p></a>
                                <% } else if (social.type == "whitepaper") { %>
                                    <img class="max-w-[20px] max-h-[20px] mr-[8px]" src="/img/social/<%= social.type%>.png"><a href="<%= social.url%>" target="_blank"><p><%= social.type%></p></a>
                                <% } %>
                            </div>
                        <%}); %>
                    <% } else { %>
                        <p>N/A</p>
                    <% } %>
                </div>
            </div>
            <button id="change" class="flex rounded-lg bg-amber-300">
                <p id="24h" class="px-[5px] bg-amber-400 rounded-lg text-lg">24h</p>
                <p id="7d"class="px-[5px] bg-amber-300 rounded-lg text-lg">7 days</p>
            </button>
            <div id="chart" class="w-full h-[400px] mt-[20px]">
                <script type="text/javascript">
                    let historicals_1day_keys = '<%= historicals_1day_keys %>'.split(',');
                    for(let i=0; i != historicals_1day_keys.length; i++){
                        historicals_1day_keys[i] = historicals_1day_keys[i].split('.')[0].slice(0, -3);
                    }
                    let historicals_1day_values = '<%= historicals_1day_values %>'.split(',');
                    let lista_int = []
                    for(let e=0; e != historicals_1day_values.length; e++){
                        lista_int.push(parseInt(historicals_1day_values[e]))
                    }
                    let max = Math.max.apply(null,lista_int)
                    let min = Math.min.apply(null,lista_int)
                    min =  min - ((max- min) * 0.15)
                    let historicals_7day_keys = '<%= historicals_7day_keys %>'.split(',');
                    for(let i=0; i != historicals_7day_keys.length; i++){
                        historicals_7day_keys[i] = historicals_7day_keys[i].split('.')[0].slice(0, -3);
                    }
                    let historicals_7day_values = '<%= historicals_7day_values %>'.split(',');
                    let lista_int2 = []
                    for(let e=0; e != historicals_7day_values.length; e++){
                        lista_int2.push(parseInt(historicals_7day_values[e]))
                    }
                    let max2 = Math.max.apply(null,lista_int2)
                    let min2 = Math.min.apply(null,lista_int2)
                    min2 =  min2 - ((max2- min2) * 0.15)
                    // Initialize the echarts instance based on the prepared dom
                    var myChart = echarts.init(document.getElementById('chart'));
                    var option = {
                        title: {
                            text: '<%= coin.name %> to USD Chart 24h'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                            animation: false,
                            type: 'cross',
                            lineStyle: {
                                color: '#376df4',
                                width: 2,
                                opacity: 1
                            }
                            }
                        },
                        legend: {
                            data: ['sales']
                        },
                        xAxis: {
                            data: historicals_1day_keys,
                            show: false,
                            axisLabel: {interval: 12, rotate: 60 }
                            
                        },
                        yAxis: {
                            min: min
                        },
                        series: [
                            {
                            name: 'usd',
                            type: 'line',
                            data: historicals_1day_values,
                            areaStyle: {opacity: 0.36},
                            smooth: true,
                                showSymbol: false,
                                lineStyle: {
                                    width: 1
                                }

                            }
                        ]
                    };
                    myChart.setOption(option);
                    $( document ).ready(function() {
                            let flag = false;
                            $('#change').click(function(){
                                if(flag == false){
                                    option.title.text = '<%= coin.name %> to USD Chart 7days'
                                    option.xAxis.data = historicals_7day_keys;
                                    option.series.data = historicals_7day_values;
                                    option.xAxis.axisLabel.interval = 96
                                    option.yAxis.min = min2
                                    flag = true
                                    $('#7d').attr('class', 'px-[5px] bg-amber-400 rounded-lg text-lg')
                                    $('#24h').attr('class', 'px-[5px] bg-amber-300 rounded-lg text-lg')
                                }else{
                                    option.title.text = '<%= coin.name %> to USD Chart 24h'
                                    option.xAxis.data = historicals_1day_keys;
                                    option.series.data = historicals_1day_values;
                                    option.xAxis.axisLabel.interval = 12
                                    option.yAxis.min = min
                                    flag = false
                                    $('#24h').attr('class', 'px-[5px] bg-amber-400 rounded-lg text-lg')
                                    $('#7d').attr('class', 'px-[5px] bg-amber-300 rounded-lg text-lg')
                                }
                                myChart.setOption(option);
                            })
                        });
                </script>
            </div>
            <div id="coinStats" class="flex justify-around">
                <div id="marketCap" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2 class="font-bold">Market Cap:</h2>
                    <p class="text-right" id="market_cap"></p><script>treatNumber('<%=coin.market_cap%>','#market_cap', ' $')</script>
                </div>
                <div id="volume" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2 class="font-bold">Volume (24h):</h2>
                    <% if (coin.volume_24h >0) { %>
                        <p class="text-right" id="volume_24h"></p><script>treatNumber('<%=coin.volume_24h%>','#volume_24h', ' $ (+<%= coin.volume_change_24h.toFixed(2) %>%)')</script>
                    <% } else { %>
                        <p class="text-right" id="volume_24h"></p><script>treatNumber('<%=coin.volume_24h%>','#volume_24h', ' $ (<%= coin.volume_change_24h.toFixed(2) %>%)')</script>
                    <% } %>
                    </div>
                <div id="circulatingSupply" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2 class="font-bold">Circulating Supply:</h2>
                    <p class="text-right" id="circulating_supply"></p><script>treatNumber('<%=coin.circulating_supply%>','#circulating_supply', ' <%= coin.abbreviation %>')</script>
                </div>
                <div id="maxSupply" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2 class="font-bold">Max Supply:</h2>
                    <% if (coin.max_supply != null) { %>
                        <p class="text-right" id="max_supply"></p><script>treatNumber('<%=coin.max_supply%>','#max_supply', ' <%= coin.abbreviation %>')</script>
                    <% } else { %>
                        <p class="text-right">∞</p>
                    <% } %>
                </div>
                <div id="dominance" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2 class="font-bold">Market Dominance:</h2>
                    <p class="text-right"><%= coin.market_cap_dominance.toFixed(2) %>%</p>
                </div>
                <div id="change24" class="border-2 border-x-zinc-300 border-y-transparent pr-[10px] pl-[10px]">
                    <h2 class="font-bold">Price Change (24h):</h2>
                    <p class="text-right">$<%= coin.price %></p>
                </div>
            </div>
            <div id="coinDescription" class="mt-[20px]">
                <h2 class="text-xl font-bold">About <%= coin.name %>:</h2>
                <p class="text-base"><%=coin.description%></p>
            </div>
        </div>
        <div id="favourites" class="w-[30%] bg-gradient-to-b from-[#FCF8BD] to-[#FFF89A] pt-[30px] pl-[5%]">
            <h1 class="font-bold text-2xl">Favourite assets:</h1>
                <table class="favourites_table table-auto w-full">
                    <tbody id="favtable">
                        <% if(typeof favourites != 'undefined'){ %>
                            <% favourites.forEach(function(favourite){%>
                                <tr id="fav_<%=favourite.favourites_id%>">
                                <% if (favourite.coin_id == coin.coin_id ) { %>
                                    <td class="text-center"><button onclick="deletefav('<%=favourite.favourites_id%>', true)"><img class="max-w-[15px] max-h-[15px]" src="/img/fullstar.png"></button></td>
                                <% } else { %>
                                    <td class="text-center"><button onclick="deletefav('<%=favourite.favourites_id%>', false)"><img class="max-w-[15px] max-h-[15px]" src="/img/fullstar.png"></button></td>
                                <% } %>
                                    <td><a href="/coin/<%=favourite.abbreviation.toLowerCase()%>"><p><%= favourite.name %> ($<%= favourite.abbreviation%>)</p></a></td>
                                </tr>
                            <%}); %>
                        <% } else { %>
                            <a href="/login" class="rounded-xl p-[4px] pt-[2px] bg-[#FFC900] max-w-[60px] self-center mt-[20px] hover:cursor-pointer">Log in to Add favourites</a>
                        <% } %>
                    </tbody>
                </table>
        </div>
    </div>
    </body>
</html>