<!DOCTYPE html>
<html lang="en">
    <%-include("partials/header.ejs", {title:"Portfolio"}) %>
        <div id="content" class="flex">
            <div id="portfolios" class="w-[20%] bg-gradient-to-b from-[#FCF8BD] to-[#FFF89A] pt-[30px] pl-[5%]">
                <h1 class="font-bold text-2xl">Your portfolios:</h1>
                <ul class="ml-[20px]" id="portfoliosList">
                    <% portfolios.forEach(function(portfolio){%>
                        <li><a href="/portfolio/<%= portfolio.portfolio_id %>"><p class="portfolio text-lg max-w-[80%]"><%=portfolio.name%></p></a></li>
                    <%}); %>
                </ul>
            </div>

            <div id="portfolios" class="w-[50%] bg-gradient-to-b from-[#FCF8BD] to-[#FFF89A] pt-[30px] pl-[5%]">
                <div id="title" class="flex">
                    <h1 class="font-bold text-2xl"><%= portfolio.name %>: 100$</h1>
                    <p class="ml-[10px] p-[2px] bg-lime-600 rounded-full">+10%</p>
                </div>
                <div id="chart" style="width: 100%;height:400px;">
                    <script type="text/javascript">
                        // Initialize the echarts instance based on the prepared dom
                        var myChart = echarts.init(document.getElementById('chart'));
                
                        // Specify the configuration items and data for the chart
                        var option = {
                        title: {
                            text: 'ECharts Getting Started'
                        },
                        tooltip: {},
                        legend: {
                            data: ['sales']
                        },
                        xAxis: {
                            data: ['Shirts', 'Cardigans', 'Chiffons', 'Pants', 'Heels', 'Socks']
                        },
                        yAxis: {},
                        series: [
                            {
                            name: 'sales',
                            type: 'bar',
                            data: [5, 20, 36, 10, 10, 20]
                            }
                        ]
                        };
                
                        // Display the chart using the configuration items and data just specified.
                        myChart.setOption(option);
                    </script>
                </div>
                <hr>
                <div id="yourAssets" class="pt-[20px]">
                    <div class="flex justify-between">
                        <h2 class="font-bold text-xl">Your assets:</h2>
                        <button class="rounded-xl p-[4px] pt-[2px] bg-[#FFC900]" onclick="alert('Buy or sell')">+ Add asset</button>
                    </div>
                    <table class="w-full ml-[20px] table-auto">
                        <thead>
                            <tr class="font-bold">
                                <td>Name</td>
                                <td>Price</td>
                                <td>Holdings</td>
                                <td>Profit/Loss</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% assets.forEach(function(asset){%>
                                <tr class="hover:bg-[#fffbb8]">
                                    <td><a href="../coin/<%=asset.abbreviation.toLowerCase()%>"><%=asset.name%> ($<%=asset.abbreviation%>)</a></td>
                                    <td>(Precio ATR)$</td>
                                    <td><%=asset.amount%> <%=asset.abbreviation%></td>
                                    <td>Precio * <%=asset.amount%>-<%=asset.spended%>$</td>
                                </tr>
                            <%}); %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div id="favourites" class="w-[30%] bg-gradient-to-b from-[#FCF8BD] to-[#FFF89A] pt-[30px] pl-[5%]">
                <h1 class="font-bold text-2xl">Favourite assets:</h1>
                <table class="table-auto w-full">
                    <thead>
                        <tr>
                            <td class="text-center">Status</td>
                            <td>Name</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% favourites.forEach(function(favourite){%>
                            <tr id="fav_<%=favourite.favourites_id%>">
                                <td class="text-center"><button onclick="deletefav('<%=favourite.favourites_id%>')"><img class="max-w-[15px] max-h-[15px]" src="/img/fullstar.png"></button></td>
                                <td><a href="../coin/<%=favourite.abbreviation.toLowerCase()%>"><p><%= favourite.name %> ($<%= favourite.abbreviation%>)</p></a></td>
                            </tr>
                        <%}); %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>